.header-container{
    display: flex;
    max-height: 80px;
    background-color: #2d3138;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.img{
    padding: 5px;
    width: 120px;
}
