@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-justify($justify) {
    display: flex;
    justify-content: $justify;
}

.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}

.full-height {
    height: 100vh;
}

.full-width{
    width: 100vw;
}
.ltr{
    direction: ltr !important;
}
.mt-s{margin-top: 10px}
.mt-m{margin-top: 20px}
.mt-l{margin-top: 30px}

.mb-s{margin-bottom: 10px}

.full-screen{
    @extend .full-width;
    @extend .full-height;
}

.flex-center{
@include flex-center
}

.flex-start_align-center {
    @include flex-justify(start);
    align-items: center;
}

.text-center{
    text-align: center;
}

.flex-column-center {
@include flex-center;
    flex-direction: column;
}

.flex-row_around {
    @include flex-justify(space-around);
}

.blur-background{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}
.half-width{
    width: 50vw !important;
}
//fix bottom navigation of login background
.muirtl-4wdd6p-MuiBottomNavigation-root {
    background-color: transparent !important;
}
.muirtl-15mdpqd {
    background-color: transparent !important;

}

