@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.full-height {
    height: 100vh;
}

.full-width{
    width: 100vw;
}

.full-screen{
    @extend .full-width;
    @extend .full-height;
}

.flex-center{
@include flex-center
}

.flex-column-center {
@include flex-center;
    flex-direction: column;
}


