@import "src/style/variables";
.loader-container{
  position: absolute;
  flex-flow: column;
  display: flex;
  bottom: 30vh;
  //width: 100%;
  align-items: center;
  z-index: 5;

  width: fit-content;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(0,0,0, 0.2);
  border-radius: 5px;
}

.loader-text{
  color: $app-turquoise;
  font-weight: bold;
  font-size: 25px;
  line-height: 3px;
  margin: 0;
}
.loader-dotes{
  color: $app-turquoise;
  font-weight: bold;
  font-size: 25px;
  line-height: 3px;
  margin-top: 18px;

}