@import "src/style/variables";
.loader-container{
  position: absolute;
  flex-flow: column;
  display: flex;
  bottom: 10%;
  width: 100%;
  align-items: center;
  z-index: 5;
}

.loader-text{
  color: $app-turquoise;
  font-weight: bold;
  font-size: 25px;
  line-height: 3px;
  margin: 0;
}
.loader-dotes{
  color: $app-turquoise;
  font-weight: bold;
  font-size: 25px;
  line-height: 3px;
  margin-top: 18px;

}