.phone-number-form{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.form-group{
    display: flex;
    flex-direction: column;

}
.error-message{
    color: blue;
    text-align: center;
}
.submit-btn{

}