
.back-btn-from-lobby-to-home{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2.5%;
}
//.lobby-loader{
//    position: absolute;
//    width: 50px;
//    height: 50px;
//    left: 50%;
//    top: 40%;
//    z-index: 5;
//}

