@import "../../../../style/colors";

.reverse-video{
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
}

.my-video-before-date{
    height: 100vh;
    width: 100vw;
    object-fit: contain;
    animation: maximize-video-for-date-animation 1s forwards;

}

.my-video-in-date{
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 3px white;
    animation: minimize-video-for-date-animation 1s forwards;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    object-fit: cover;
}

@keyframes minimize-video-for-date-animation {
    0%{
        height: 100vh;
    }
    100%{
        height: 20vh;
    }
}


@keyframes maximize-video-for-date-animation {
    0%{
        height: 20vh;
    }
    100%{
        height: 100vh;

    }
}