@import "../../../../style/variables";

.reverse-video{
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
}

.my-video-in-date{
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 3px white;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    object-fit: cover;
    height: 20vh;
}
