.my-video-before-date{
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    height: 100%;
}
.my-video-in-date{
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #f1f1f1;
    animation: minimize-video-for-date-animation 1s forwards;
    position: absolute;
    margin-inline-start: 10px;
    margin-top: 10px;
    z-index: 5;
    object-fit: cover;
}
@keyframes minimize-video-for-date-animation {
    0%{
        height: 100vh;
    }
    100%{
        height: 20vh;
    }
}