.login-container{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.privacy-box-show {
    position: absolute;
    background: black;
    z-index: 100;
    transition: .4s;
    overflow: scroll;
    font-size: 11px;
    transform: translateX(0%);
}

.privacy-box-hide {
    position: absolute;
    transition: 0.4s;
    transform: translateX(-100%);
}

.privacy {
    transition: .3s;
    bottom: 0;
    padding: 5px;
    text-decoration: underline;
}

.privacy:hover {
    transition: .3s;
    color: #bb86fc;
}
