.login-container{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.privacy {
    transition: .3s;
    bottom: 0;
    padding: 5px;
    text-decoration: underline;
}

.privacy:hover {
    transition: .3s;
    color: #bb86fc;
}
