@import "../../../../style/variables";
.question-area{
    position: absolute;
    left: 0%;
    bottom: 20%;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-text{
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    text-align: center;
    border: 1px solid $app-turquoise;
    border-radius: 50px;
    bottom: 20%;
    min-width: 50vw;
    max-width: 80vw;
    min-height: 10vh;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}